<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="static/lib/font/font.css" />
  <link rel="stylesheet" type="text/css" href="static/css/screen.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/iosOverlay.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/dataTables.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/layout-default-1.4.0.css" />
  <link rel="stylesheet" type="text/css" href="static/css/user.css"/>
  
  <link rel="shortcut icon" href="static/icons/favicon.png" type="image/x-icon" /> 
  
  {{ head }}
</head>


<body>
  {{ defaultcontent }}
</body>